<div class="d-flex justify-content-start">
  <%= link_to "Back to the list", lists_path, class: "btn btn-info mt-3" %>
</div>

<div class="container text-center">

  <h1 class="title mb-2 mt-2"><%= @list.name %></h1>

<p><%= link_to "Add a bookmark (movie)", new_list_bookmark_path(@list), class: "btn btn-success" %></p>
<%# <p><%= link_to "Delete this category", list_path(@list), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger" %></p>


  <div class="d-flex flex-row flex-wrap justify-content-center gap-3 mb-3 pt-5">

    <% @list.bookmarks.each do |bookmark| %>
      <div class="card" style="width: 400px;">
          <img src="<%= bookmark.movie.poster_url %>" class="card-img-top" alt="<%= bookmark.movie.title %>">
        <div class="card-body text-start">
          <h5 class="card-title"><%= bookmark.movie.title %></h5>
          <p class="card-text"><%= bookmark.movie.overview %></p>
          <p class="card-text mt-5"><i class="fa-solid fa-quote-left"></i> <em><%= bookmark.comment %></em></p>
        </div>

        <p class="text-end me-2">
          <%= link_to list_bookmark_path(@list, bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "change-link" do %>
          <i class="fa-solid fa-trash-can"></i>
           <% end %>
        </p>

      </div>
    <% end %>
  </div>
</div>
